<<<<<<< HEAD
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#4facfe;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:380px;
    background:#fff;
    padding:30px;
    border-radius:10px;
    box-shadow:0 10px 20px rgba(0,0,0,.2);
}

h2{
    text-align:center;
    margin-bottom:20px;
    color:#333;
}

.input-group{
    margin-bottom:18px;
}

label{
    display:block;
    margin-bottom:5px;
    font-weight:bold;
}

input{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:15px;
}

input:focus{
    outline:none;
    border-color:#007bff;
}

.error{
    color:red;
    font-size:13px;
}

button{
    width:100%;
    padding:12px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:5px;
    font-size:17px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

#successMessage{
    text-align:center;
    color:green;
    margin-top:15px;
    font-weight:bold;
=======
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#4facfe;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:380px;
    background:#fff;
    padding:30px;
    border-radius:10px;
    box-shadow:0 10px 20px rgba(0,0,0,.2);
}

h2{
    text-align:center;
    margin-bottom:20px;
    color:#333;
}

.input-group{
    margin-bottom:18px;
}

label{
    display:block;
    margin-bottom:5px;
    font-weight:bold;
}

input{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:15px;
}

input:focus{
    outline:none;
    border-color:#007bff;
}

.error{
    color:red;
    font-size:13px;
}

button{
    width:100%;
    padding:12px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:5px;
    font-size:17px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

#successMessage{
    text-align:center;
    color:green;
    margin-top:15px;
    font-weight:bold;
>>>>>>> 9c940f7eab83dfe77285822bc50a32f74164b2dd
}